* {
	margin: 0;
	text-align: center;
	transition: 1s;
	justify-content: center;
	align-items: center;
}

/* #region header & login-container */

.login-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	gap: 5vh;
	font-size: calc((3vh + 3vw) / 2);
}

.login-container > h1 {
	position: absolute;
	top: 0;
	margin-top: 5vh;
	font-weight: 1000;
	font-size: calc((6vw + 6vh) / 2);
}

header > h1 {
	margin: 50px auto;
	font-size: calc((6vw + 6vh) / 2);
	font-weight: 700;
}

header > .google-auth {
	display: flex;
	position: relative;
	font-weight: 600;
}

.google-auth > .user-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

.user-info > img {
	max-width: 40%;
}

.auth-button {
	padding: 7.5px 15px;
	background-color: #4285f4;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: 0.25s;
}

.auth-button:hover {
	background: blue;
}

.auth-button.signout {
	position: absolute;
	bottom: 20%;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: fit-content;
	background-color: #b12c2080;
	opacity: 0%;
	transition: 0.25s;
}
.auth-button.signout:hover {
	background-color: red;
}
.google-auth:hover .auth-button.signout,
.auth-button.signout.tokenError {
	bottom: 10%;
	opacity: 100%;
}

/* #endregion */

main {
	max-width: 90vw;
	margin: 0 auto;
}

/* #region main > search */

.search-container {
	position: sticky;
	top: 10px;
	margin: 20px auto;
	width: 80vw;
	z-index: 5;
}

.search-container form {
	display: flex;
	gap: 10px;
}

.search-container input {
	flex-grow: 1;
	font-size: calc((3vh + 3vw) / 2);
	padding: 1vh;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.search-container button {
	padding: 8px 16px;
	background-color: #4285f4;
	font-size: calc((3vh + 3vw) / 2);
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* #endregion */

/* #region events */

.calendar-events {
	width: 100%;
	max-height: 90vh;
	margin-top: 10vh;
	display: flex;
	justify-content: space-evenly;
	align-items: start;
}

.calendar-events > .events-details {
	flex-basis: 60%;
	height: 100%;
	max-height: 95vh;
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	overflow-y: auto;
}

.events-details > * {
	width: -webkit-fill-available;
	margin: 5px 0;
	padding: 15px;
	border-radius: 0.5rem;
}

.events-details > .clickedEventDetails {
	background: var(--tertiary);
	padding: 20px;
	overflow-y: auto;
}

.events-details > .events-stats {
	background: var(--secondary);
}

.events-stats > h3 {
	margin: 5px 0;
}

.events-stats > table {
	width: 100%;
}

.events-list {
	list-style: none;
	width: 40%;
	max-height: 95vh;
	margin-bottom: 5vh;
	overflow: auto;
	padding: 0;
}

.event-item {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 5px;
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid #eee;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-item:has(svg) {
	cursor: pointer;
	background: navy;
}

.event-item.toggled {
	background: var(--tertiary-2);
	transition: 0s;
}

.event-summary {
	font-weight: bold;
	margin-bottom: 5px;
}

.descBrief {
	display: flex;
	width: 100%;
	gap: 10px;
}

.event-description {
	margin-top: 10px;
}

.event-description > p {
	text-align: justify;
}

/* #endregion */

/* #region Misc */

main a {
	font-size: calc((2vh + 3vw) / 2);
	text-decoration: none;
	color: inherit;
	font-weight: 900;
}

.clickedEventDetails > a {
	font-size: calc((3.5vh + 3.5vw) / 2);
}

strong {
	color: cyan;
	font-weight: 900;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: white;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: blue;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: red;
}

/* #endregion */

.error {
	color: var(--error);
	padding: 10px;
	border: 1px solid var(--error);
	border-radius: 4px;
	background-color: #fce8e6;
}
